
   
<div class="head"> 
   

    <form >
        <div class="container" >
     
        <h1>Register</h1>
       
        <hr>
    
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder=" Username" name="uname" required>
        
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="psw" required>
    
        <label for="psw-confirm"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="psw-repeat" required>
        <hr>
      
    
            <button  type="submit" class="registerbtn" (click)="register()">Register</button>
      </div>
      
      <div class="container signin">
        <p>Already have an account? <a href="firstpage">Sign in</a></p>
      </div>
    </form>
 
    </div>
