<div class="bgimg1">
    <p >
         <button type="button" (click)="link()" class="name">CHATBOX </button> 
       </p>
                <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
                <div class="login-page">
                  <div class="form">
                     <form class="login-form">
                        
                      <input type="text"  name="uname" placeholder="username" required/>
                      <input type="password" name="password" placeholder="password" required/>
                   <button type="button" (click)="login()" class="button">Login </button> 
                      </form>
                     
                  <h6 style=color:white;>Not signed up?</h6><p class="message" (click)="register()" > Register now </p>
              
                  </div>
                </div>
                </div> 
            </div>